In [1]:
import numpy as np
import pandas as pd

In [2]:
path = '/opt/ml/input/data/train/'

train = pd.read_csv(path + 'train_ratings.csv')

In [3]:
# 일단 본거는 전부 Positive feedback (1값)으로 처리, 시간 제거
train['rating'] = 1.0 # implicit feedback
train.drop(['time'],axis=1,inplace=True)

In [4]:
train.head()

   user  item  rating
0    11  4643     1.0
1    11   170     1.0
2    11   531     1.0
3    11   616     1.0
4    11  2140     1.0

In [5]:
train.nunique()

user      31360
item       6807
rating        1
dtype: int64

In [6]:
df = pd.pivot_table(train, index='user',columns='item', values='rating')

In [7]:
df = df.fillna(0)

In [8]:
df

item,1,2,3,4,5,6,7,8,9,10,...,116823,117176,117533,117881,118696,118700,118900,118997,119141,119145
user,,,,,,,,,,,,,,,,,,,,,
11,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138473,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
138475,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
138486,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
138492,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
138493,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
# class EASE:
#     def __init__(self, _lambda):
#         self.B = None
#         self._lambda = _lambda

#     def train(self, X):
#         G = X.T @ X  # G = X'X
#         diag_indices = list(range(G.shape[0]))
#         G[diag_indices, diag_indices] += self._lambda  # X'X + λI
#         P = np.linalg.inv(G)  # P = (X'X + λI)^(-1)
        
#         self.B = P / -np.diag(P)  # - P_{ij} / P_{jj} if i ≠ j
#         min_dim = min(*self.B.shape)  
#         self.B[range(min_dim), range(min_dim)] = 0  # 대각행렬 원소만 0으로 만들어주기 위해

#     def forward(self, user_row):
#         return user_row @ self.B

In [10]:
X = df  # 학습 데이터

In [11]:
_lambda = 300

In [12]:
G = X.T @ X

In [13]:
G

item,1,2,3,4,5,6,7,8,9,10,...,116823,117176,117533,117881,118696,118700,118900,118997,119141,119145
item,,,,,,,,,,,,,,,,,,,,,
1,12217.0,2282.0,470.0,22.0,383.0,2564.0,473.0,32.0,38.0,2571.0,...,117.0,81.0,20.0,14.0,114.0,28.0,27.0,29.0,58.0,38.0
2,2282.0,3364.0,236.0,10.0,227.0,744.0,227.0,21.0,22.0,1028.0,...,44.0,26.0,3.0,4.0,53.0,13.0,10.0,15.0,27.0,13.0
3,470.0,236.0,734.0,7.0,115.0,242.0,107.0,8.0,9.0,255.0,...,6.0,1.0,1.0,0.0,7.0,1.0,0.0,0.0,1.0,0.0
4,22.0,10.0,7.0,43.0,9.0,13.0,7.0,0.0,0.0,8.0,...,3.0,1.0,0.0,0.0,3.0,1.0,1.0,1.0,0.0,0.0
5,383.0,227.0,115.0,9.0,590.0,126.0,112.0,8.0,5.0,173.0,...,6.0,3.0,1.0,2.0,8.0,0.0,0.0,5.0,3.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118700,28.0,13.0,1.0,1.0,0.0,18.0,1.0,0.0,0.0,9.0,...,10.0,21.0,5.0,11.0,11.0,54.0,16.0,8.0,8.0,4.0
118900,27.0,10.0,0.0,1.0,0.0,17.0,1.0,1.0,1.0,7.0,...,12.0,20.0,9.0,9.0,10.0,16.0,60.0,11.0,9.0,6.0
118997,29.0,15.0,0.0,1.0,5.0,12.0,5.0,1.0,0.0,5.0,...,15.0,14.0,1.0,6.0,19.0,8.0,11.0,52.0,7.0,5.0
119141,58.0,27.0,1.0,0.0,3.0,35.0,2.0,0.0,1.0,12.0,...,24.0,22.0,4.0,5.0,32.0,8.0,9.0,7.0,122.0,11.0
119145,38.0,13.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0,8.0,...,15.0,20.0,3.0,2.0,20.0,4.0,6.0,5.0,11.0,78.0

In [14]:
diag_indices = list(range(G.shape[0]))
diag_indices

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 ...]

In [15]:
len(diag_indices)

6807

In [16]:
type(G)

pandas.core.frame.DataFrame

In [17]:
G.iloc[diag_indices, diag_indices] += _lambda  # X'X + λI

In [18]:
P = np.linalg.inv(G)  # P = (X'X + λI)^(-1)

In [19]:
P.shape

(6807, 6807)

In [20]:
B = P / -np.diag(P)  # - P_{ij} / P_{jj} if i ≠ j

In [21]:
B

array([[-1.00000000e+00,  5.72312205e-03, -3.12144018e-03, ...,
         2.20171796e-04, -5.97970198e-04,  3.64565163e-04],
       [ 1.24224480e-02, -1.00000000e+00,  1.69766355e-03, ...,
         8.07563871e-04,  1.41682647e-03, -1.76039902e-03],
       [-2.72201023e-02,  6.82043670e-03, -1.00000000e+00, ...,
        -6.09152550e-04,  8.62072733e-04, -8.95349633e-04],
       ...,
       [ 3.74296144e-02,  6.32493940e-02, -1.18753111e-02, ...,
        -1.00000000e+00, -3.30790563e-02, -1.95220984e-03],
       [-3.63978582e-02,  3.97318487e-02,  6.01735259e-03, ...,
        -1.18439273e-02, -1.00000000e+00,  6.16586593e-03],
       [ 3.27141630e-02, -7.27775758e-02, -9.21337121e-03, ...,
        -1.03046555e-03,  9.08988598e-03, -1.00000000e+00]])

In [22]:
B.shape

(6807, 6807)

In [23]:
min_dim = min(B.shape)

In [24]:
min_dim

6807

In [25]:
B[range(min_dim), range(min_dim)] = 0  # 대각행렬 원소만 0으로 만들어주기 위해

In [26]:
B

array([[ 0.        ,  0.00572312, -0.00312144, ...,  0.00022017,
        -0.00059797,  0.00036457],
       [ 0.01242245,  0.        ,  0.00169766, ...,  0.00080756,
         0.00141683, -0.0017604 ],
       [-0.0272201 ,  0.00682044,  0.        , ..., -0.00060915,
         0.00086207, -0.00089535],
       ...,
       [ 0.03742961,  0.06324939, -0.01187531, ...,  0.        ,
        -0.03307906, -0.00195221],
       [-0.03639786,  0.03973185,  0.00601735, ..., -0.01184393,
         0.        ,  0.00616587],
       [ 0.03271416, -0.07277758, -0.00921337, ..., -0.00103047,
         0.00908989,  0.        ]])

In [27]:
X = X.to_numpy()

In [28]:
result = X[:,:] @ B

In [29]:
result

array([[ 1.25712227,  0.25051692, -0.05381435, ..., -0.01097048,
        -0.00971653,  0.02222529],
       [ 0.80351115, -0.02889054,  0.09607394, ...,  0.02164702,
        -0.00776703,  0.00874192],
       [-0.01070477, -0.11127   , -0.07181698, ..., -0.00550384,
        -0.0199763 ,  0.00305959],
       ...,
       [ 0.95999664,  0.39991291,  0.01827393, ...,  0.03032355,
        -0.03442212,  0.02122535],
       [ 0.21180574, -0.09025958,  0.00912311, ..., -0.01107915,
         0.01326027, -0.01430808],
       [ 1.25502847,  0.86698173,  0.01150279, ...,  0.02164161,
         0.01793866, -0.01068675]])

In [30]:
result[X.nonzero()] = -np.inf

In [31]:
result

array([[       -inf,  0.25051692, -0.05381435, ..., -0.01097048,
        -0.00971653,  0.02222529],
       [       -inf, -0.02889054,  0.09607394, ...,  0.02164702,
        -0.00776703,  0.00874192],
       [-0.01070477, -0.11127   , -0.07181698, ..., -0.00550384,
        -0.0199763 ,  0.00305959],
       ...,
       [       -inf,  0.39991291,  0.01827393, ...,  0.03032355,
        -0.03442212,  0.02122535],
       [ 0.21180574, -0.09025958,  0.00912311, ..., -0.01107915,
         0.01326027, -0.01430808],
       [       -inf,        -inf,  0.01150279, ...,  0.02164161,
         0.01793866, -0.01068675]])

In [32]:
result.shape

(31360, 6807)

In [33]:
len(result[0])

6807

In [34]:
tem = np.argsort(result[0])[-11:-1]

In [35]:
len(tem)

10

In [61]:
tem.tolist()

[2164, 2683, 1719, 2187, 4581, 2619, 41, 1666, 4463, 4597]

In [37]:
!pip install pandas==1.2.3
!pip install numpy==1.19.5

Requirement already satisfied: pandas==1.2.3 in /opt/conda/lib/python3.8/site-packages (1.2.3)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.8/site-packages (from pandas==1.2.3) (2020.5)
Requirement already satisfied: numpy>=1.16.5 in /opt/conda/lib/python3.8/site-packages (from pandas==1.2.3) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.8/site-packages (from pandas==1.2.3) (2.8.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas==1.2.3) (1.15.0)
Requirement already satisfied: numpy==1.19.5 in /opt/conda/lib/python3.8/site-packages (1.19.5)

In [38]:
pd.__version__

'1.2.3'

In [39]:
np.__version__

'1.19.5'

In [40]:
submission = pd.DataFrame(columns=['user','item'])

In [41]:
# 유저수와 아이템 수 기록.
num_users = train['user'].nunique()
num_items = train['item'].nunique()

# user_id 모아둔 리스트 만들기.
user_lst = list(train['user'].unique())

In [57]:
submission_user_lst = []

for user in user_lst:
    for i in range(10):
        submission_user_lst.append(user)

In [59]:
submission['user'] = submission_user_lst

In [60]:
submission.head()

   user item
0    11  NaN
1    11  NaN
2    11  NaN
3    11  NaN
4    11  NaN

In [62]:
submission_item_lst = []

for i in range(len(result)):
    tem = np.argsort(result[i])[-11:-1]
    submission_item_lst += tem.tolist()

In [63]:
submission_item_lst

[2164,
 2683,
 1719,
 2187,
 4581,
 2619,
 41,
 1666,
 4463,
 4597,
 4597,
 326,
 580,
 2653,
 1147,
 5202,
 1004,
 672,
 1335,
 1089,
 1489,
 657,
 5522,
 3433,
 4965,
 1766,
 179,
 2309,
 3057,
 1281,
 0,
 1016,
 360,
 1284,
 41,
 1666,
 3567,
 706,
 580,
 1532,
 1202,
 6173,
 6572,
 5218,
 6084,
 3013,
 3909,
 6410,
 5788,
 3200,
 4057,
 4640,
 2187,
 0,
 1532,
 4646,
 226,
 3038,
 2344,
 2653,
 76,
 1532,
 2624,
 659,
 646,
 4787,
 2659,
 2619,
 1580,
 647,
 1756,
 3068,
 3534,
 423,
 2304,
 416,
 136,
 2616,
 3200,
 317,
 750,
 1039,
 49,
 1249,
 1892,
 2138,
 848,
 885,
 424,
 693,
 4466,
 5936,
 2344,
 5652,
 653,
 4886,
 672,
 5461,
 2304,
 2659,
 580,
 5059,
 1612,
 1532,
 2852,
 358,
 5461,
 2344,
 1642,
 2664,
 5762,
 5788,
 3010,
 1580,
 3635,
 317,
 31,
 2309,
 413,
 1435,
 423,
 585,
 3654,
 717,
 209,
 644,
 1103,
 1612,
 1642,
 1016,
 644,
 353,
 585,
 786,
 619,
 784,
 649,
 646,
 3399,
 1095,
 644,
 4896,
 1887,
 5792,
 178,
 3041,
 3200,
 317,
 3654,
 593,
 471,
 5279,
 519,
 647,
 6172,
 6408,
 1094,
 558,
 357,
 6084,
 648,
 353,
 580,
 2812,
 601,
 717,
 76,
 424,
 1462,
 352,
 33,
 619,
 4646,
 2659,
 4000,
 2345,
 674,
 1016,
 959,
 4107,
 76,
 6619,
 4418,
 353,
 4000,
 43,
 5386,
 3534,
 5636,
 5762,
 356,
 5830,
 648,
 5975,
 1642,
 76,
 193,
 6067,
 5978,
 2670,
 43,
 178,
 5788,
 646,
 943,
 2659,
 644,
 3373,
 1435,
 593,
 931,
 356,
 593,
 659,
 647,
 353,
 220,
 3679,
 5461,
 3654,
 2672,
 158,
 852,
 3989,
 1504,
 116,
 1400,
 670,
 2304,
 4101,
 3954,
 4041,
 4888,
 5037,
 662,
 9,
 5638,
 5738,
 1462,
 4666,
 3255,
 585,
 1658,
 1081,
 937,
 662,
 2208,
 237,
 894,
 406,
 2503,
 1924,
 2991,
 4886,
 4982,
 2157,
 4101,
 220,
 5522,
 3328,
 670,
 1612,
 3200,
 657,
 937,
 1048,
 959,
 4031,
 712,
 41,
 4736,
 5636,
 4968,
 1612,
 6123,
 3959,
 3068,
 317,
 2672,
 655,
 1139,
 161,
 558,
 689,
 3909,
 2841,
 352,
 870,
 561,
 226,
 3567,
 5936,
 1612,
 1977,
 226,
 3909,
 6410,
 3038,
 931,
 6276,
 220,
 920,
 580,
 1220,
 659,
 1580,
 1612,
 317,
 353,
 890,
 687,
 363,
 31,
 2852,
 2208,
 1435,
 193,
 646,
 1483,
 0,
 3534,
 1924,
 1532,
 356,
 4466,
 2659,
 2187,
 890,
 193,
 4965,
 1666,
 4646,
 647,
 2199,
 593,
 717,
 363,
 649,
 193,
 3200,
 4000,
 2199,
 4581,
 1667,
 2036,
 5279,
 423,
 1642,
 3399,
 4679,
 931,
 1666,
 601,
 5386,
 4886,
 43,
 5078,
 5042,
 3679,
 1435,
 43,
 491,
 1421,
 1483,
 2157,
 2659,
 649,
 833,
 1130,
 0,
 4646,
 670,
 648,
 317,
 1249,
 354,
 287,
 1642,
 717,
 76,
 3128,
 5493,
 854,
 6315,
 5807,
 5147,
 6020,
 2251,
 5792,
 2841,
 336,
 3567,
 3392,
 2344,
 4948,
 1435,
 3255,
 1699,
 659,
 352,
 1263,
 619,
 41,
 1977,
 649,
 3635,
 931,
 5522,
 2157,
 621,
 492,
 1645,
 661,
 738,
 1382,
 287,
 1580,
 3567,
 771,
 1015,
 355,
 356,
 738,
 1504,
 1284,
 1435,
 705,
 1400,
 193,
 226,
 2199,
 2619,
 890,
 356,
 931,
 712,
 287,
 1532,
 2624,
 193,
 2529,
 2344,
 3916,
 3909,
 89,
 2211,
 3424,
 3255,
 3101,
 1252,
 1532,
 179,
 1977,
 3711,
 4886,
 653,
 4107,
 671,
 647,
 1333,
 3200,
 717,
 3922,
 3057,
 73,
 748,
 5762,
 4984,
 92,
 2951,
 352,
 1483,
 670,
 687,
 43,
 41,
 2653,
 76,
 0,
 287,
 5771,
 6553,
 4101,
 931,
 5744,
 2683,
 4790,
 2624,
 6408,
 3916,
 671,
 890,
 920,
 687,
 4393,
 193,
 0,
 356,
 2199,
 416,
 644,
 4093,
 4437,
 4791,
 1756,
 5279,
 4965,
 2304,
 2683,
 5003,
 4695,
 4697,
 2187,
 1699,
 627,
 31,
 5522,
 4418,
 2659,
 2186,
 920,
 601,
 4101,
 1421,
 220,
 352,
 317,
 2812,
 41,
 287,
 943,
 4418,
 1095,
 28,
 1846,
 1489,
 424,
 416,
 1284,
 43,
 920,
 368,
 249,
 1264,
 5424,
 1532,
 1553,
 4941,
 1925,
 1263,
 2659,
 3704,
 5669,
 629,
 651,
 2961,
 2304,
 187,
 1642,
 77,
 908,
 854,
 6067,
 869,
 670,
 2157,
 5,
 3193,
 2672,
 4968,
 661,
 682,
 890,
 657,
 705,
 317,
 416,
 651,
 619,
 480,
 5038,
 5042,
 363,
 220,
 943,
 2822,
 3563,
 356,
 317,
 3328,
 2591,
 2367,
 43,
 5768,
 226,
 2170,
 1,
 4640,
 424,
 3562,
 487,
 3916,
 2067,
 2345,
 619,
 2653,
 226,
 287,
 3255,
 4101,
 937,
 4787,
 2659,
 92,
 2794,
 1435,
 4948,
 2619,
 6171,
 4101,
 1263,
 3054,
 2378,
 4296,
 6572,
 6568,
 5283,
 1612,
 2762,
 870,
 1756,
 6172,
 3563,
 1133,
 5936,
 601,
 2659,
 76,
 1743,
 3200,
 2304,
 713,
 178,
 363,
 671,
 1756,
 1642,
 5,
 738,
 663,
 920,
 783,
 2086,
 786,
 773,
 6410,
 931,
 226,
 3255,
 3916,
 2841,
 353,
 1197,
 5461,
 4948,
 43,
 795,
 1206,
 2923,
 870,
 3053,
 2653,
 6172,
 2852,
 2616,
 76,
 659,
 1284,
 4581,
 356,
 908,
 2002,
 43,
 31,
 1103,
 4581,
 1317,
 4116,
 4057,
 3712,
 920,
 2156,
 4065,
 2664,
 648,
 585,
 2619,
 3193,
 3181,
 220,
 76,
 1532,
 4646,
 2653,
 1699,
 648,
 585,
 3200,
 1977,
 2086,
 179,
 4888,
 662,
 4000,
 687,
 931,
 1012,
 424,
 41,
 3679,
 2212,
 3048,
 5766,
 1743,
 6572,
 5175,
 6722,
 6103,
 3160,
 5788,
 287,
 4630,
 3684,
 3201,
 2568,
 4528,
 5162,
 2314,
 4937,
 5762,
 4000,
 3068,
 4886,
 3397,
 1532,
 356,
 5669,
 2653,
 4065,
 5522,
 1544,
 585,
 3057,
 3038,
 5042,
 178,
 179,
 2923,
 6084,
 2304,
 178,
 2217,
 2470,
 5675,
 5221,
 423,
 4418,
 716,
 2376,
 1756,
 1206,
 667,
 644,
 5162,
 179,
 852,
 3986,
 1435,
 1666,
 455,
 4418,
 4955,
 1400,
 1642,
 4108,
 5038,
 4608,
 5637,
 2314,
 920,
 5195,
 276,
 226,
 3654,
 5461,
 353,
 2619,
 41,
 1580,
 2344,
 2301,
 1161,
 712,
 2862,
 890,
 931,
 76,
 5547,
 1220,
 2683,
 4886,
 5788,
 947,
 669,
 5818,
 6190,
 2672,
 5302,
 105,
 6219,
 472,
 220,
 619,
 1666,
 662,
 363,
 644,
 3654,
 423,
 3399,
 5475,
 3055,
 5147,
 4463,
 2606,
 2344,
 4666,
 1532,
 4065,
 1756,
 3448,
 2812,
 723,
 657,
 1894,
 1041,
 908,
 2036,
 179,
 659,
 2086,
 3408,
 1421,
 1048,
 4888,
 5003,
 854,
 644,
 5830,
 2852,
 1048,
 480,
 706,
 43,
 705,
 1743,
 174,
 644,
 146,
 5461,
 423,
 220,
 3373,
 1667,
 1494,
 644,
 688,
 43,
 3654,
 664,
 328,
 102,
 1175,
 580,
 360,
 659,
 4679,
 493,
 725,
 648,
 1,
 2381,
 3181,
 1054,
 4670,
 5522,
 792,
 558,
 573,
 854,
 6407,
 6172,
 2304,
 6553,
 1580,
 2199,
 6704,
 5762,
 3679,
 1284,
 753,
 1580,
 1532,
 4463,
 472,
 43,
 662,
 634,
 750,
 644,
 2852,
 4646,
 353,
 1134,
 6015,
 647,
 2672,
 712,
 1301,
 2822,
 3057,
 3299,
 2852,
 352,
 713,
 593,
 2991,
 699,
 1263,
 1130,
 949,
 3200,
 1284,
 6020,
 3618,
 1288,
 116,
 5194,
 1483,
 1016,
 4065,
 220,
 4466,
 2812,
 3038,
 5,
 317,
 2086,
 356,
 885,
 2775,
 1152,
 92,
 2859,
 3994,
 9,
 1005,
 916,
 287,
 862,
 6160,
 493,
 5058,
 701,
 661,
 5283,
 1281,
 355,
 2923,
 5766,
 1090,
 205,
 580,
 1489,
 2212,
 1220,
 1048,
 2304,
 317,
 2135,
 4065,
 943,
 2822,
 3328,
 2923,
 681,
 3034,
 1505,
 1719,
 231,
 ...]

In [65]:
submission['item'] = submission_item_lst

In [67]:
submission

          user  item
0           11  2164
1           11  2683
2           11  1719
3           11  2187
4           11  4581
...        ...   ...
313595  138493  2661
313596  138493   931
313597  138493   717
313598  138493  4107
313599  138493    76

[313600 rows x 2 columns]

In [68]:
submission.reset_index(drop=True, inplace=True)
submission.to_csv("../output/suyeon_EASE.csv", index=False)