In [1]:
from model import AutoEncoder 
from dataset import Dataset 
from trainer import Trainer 
import argparse
import torch
import pandas as pd
import json
from torch.utils.data import DataLoader

In [2]:
data = pd.read_csv('predict.csv')

In [4]:
data

,index,0,1,2,3,4,5,6,7,8,9
0,11,8695,84392,4638,1269,95858,900,54193,2131,72919,2962
1,14,87298,54771,54910,93265,53189,7063,7883,6186,407,26616
2,18,4863,8526,879,85796,8880,4523,8874,7158,407,26616
3,25,50514,71460,6970,31700,2136,2901,42094,3125,74532,2882
4,31,8813,3093,87298,40581,832,6896,26616,37731,5629,7560
...,...,...,...,...,...,...,...,...,...,...,...
31355,138473,63033,68932,412,2297,2924,31694,4928,73023,59549,3751
31356,138475,57502,34532,74450,3406,52644,2060,456,5450,1213,72405
31357,138486,58025,4265,69394,1952,5803,41,44613,5237,7619,5957
31358,138492,3507,79251,673,89840,54997,1218,334,67295,56389,8017
31359,138493,4183,334,2782,6542,26094,3668,5101,6012,55768,7647

In [6]:
data.apply(lambda x : print(x))

0            11
1            14
2            18
3            25
4            31
          ...
31355    138473
31356    138475
31357    138486
31358    138492
31359    138493
Name: index, Length: 31360, dtype: int64
0         8695
1        87298
2         4863
3        50514
4         8813
         ...
31355    63033
31356    57502
31357    58025
31358     3507
31359     4183
Name: 0, Length: 31360, dtype: int64
0        84392
1        54771
2         8526
3        71460
4         3093
         ...
31355    68932
31356    34532
31357     4265
31358    79251
31359      334
Name: 1, Length: 31360, dtype: int64
0         4638
1        54910
2          879
3         6970
4        87298
         ...
31355      412
31356    74450
31357    69394
31358      673
31359     2782
Name: 2, Length: 31360, dtype: int64
0         1269
1        93265
2        85796
3        31700
4        40581
         ...
31355     2297
31356     3406
31357     1952
31358    89840
31359     6542
Name: 3, Length: 31360, dtype: int64
0        95858
1        53189
2         8880
3         2136
4          832
         ...
31355     2924
31356    52644
31357     5803
31358    54997
31359    26094
Name: 4, Length: 31360, dtype: int64
0          900
1         7063
2         4523
3         2901
4         6896
         ...
31355    31694
31356     2060
31357       41
31358     1218
31359     3668
Name: 5, Length: 31360, dtype: int64
0        54193
1         7883
2         8874
3        42094
4        26616
         ...
31355     4928
31356      456
31357    44613
31358      334
31359     5101
Name: 6, Length: 31360, dtype: int64
0         2131
1         6186
2         7158
3         3125
4        37731
         ...
31355    73023
31356     5450
31357     5237
31358    67295
31359     6012
Name: 7, Length: 31360, dtype: int64
0        72919
1          407
2          407
3        74532
4         5629
         ...
31355    59549
31356     1213
31357     7619
31358    56389
31359    55768
Name: 8, Length: 31360, dtype: int64
0         2962
1        26616
2        26616
3         2882
4         7560
         ...
31355     3751
31356    72405
31357     5957
31358     8017
31359     7647
Name: 9, Length: 31360, dtype: int64

index    None
0        None
1        None
2        None
3        None
4        None
5        None
6        None
7        None
8        None
9        None
dtype: object

In [ ]:
data.apply(lambda x : [submision.append(x['index'], x[i]) for i in range(0,10)])